$default_color: #ff335f;
$hover_color: #ff446d;
$active_color: #e1264f;
$disable_color: #a6a6a6;
$error_color: #ff3b30;
$success_color: #48ff30;
$title_color: #595959;
$second-text_color: #a6a6a6;
$disable-text_color: #f2f2f2;
